body {
    margin: 0;
}
#map, #rope {
    height: 100vh;
}

#rope {
    position: relative;
}

.leaflet-popup-pane {
    pointer-events: none;
}
/*========search bar==============*/
.searchbar {
    position: absolute;
    top: 10px;
    left: 36%;
}
#searchbox {
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 1px 1px #ddd inset;
    -moz-box-shadow: 0 1px 1px #ddd inset;
    box-shadow: 0 1px 1px #ddd inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #999;
    font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
    height: 20px;
    padding: 10px;
    width: 310px;
    opacity: 1;
}
@media (max-width: 1024px) {
    .searchbar {
        position: absolute;
        left: 2%;
    }
}
/*================================*/
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 5px 10px 0;
    color: #777;
    float: left;
    clear: right;
}
.info h5 {
    margin: 0 5px 10px 0;
    color: #777;
    float: left;
}

.row {
    clear: both;
    margin: 8px 0;
}

.sliderset {
    width: 320px;
}

.sliderset label {
    color: #777;
}

.sliderset input {
    float: right;
    width: 200px;
}
/*=====bar chart css=====*/
#chartContainer {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.x-axis-label {
    stroke-width: 10;
}
@media (max-height: 530px) {

}
/*========================*/
.red {

}

.orange {

}

.yellow {

}

.green {

}

.blue {

}

.indigo {

}

.purple {

}

#charts {
    height: 400px;
}

.chart {
    width: 49%;
    height: 100%;
    display: inline-block;
}

.chart div {
    background-color: blue;
    height: 10%;
    margin-bottom: 4%;
    transition: width 0.5s;
}

#chart_left div {
    margin-left: auto;
    margin-right: 0;
}

#chart_right div {
}
