body {
    margin: 0;
}
#map {
    height: 100vh;
}
.leaflet-popup-pane {
    pointer-events: none;
}
.searchbar {
    position: fixed;
    top: 0;
    left: 34%;
}
#searchbox {
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 1px 1px #ddd inset;
    -moz-box-shadow: 0 1px 1px #ddd inset;
    box-shadow: 0 1px 1px #ddd inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #999;
    font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
    height: 20px;
    padding: 10px;
    width: 430px;
    opacity: 1;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 5px 5px 0;
    color: #777;
    float: left;
    clear: right;
}
.info h5 {
    margin: 0 5px 5px 0;
    color: #777;
    float: left;
}

.row {
    clear: both;
    margin: 8px 0;
}

.sliderset {
    width: 320px;
}

.sliderset label {
    color: #777;
}

.sliderset input {
    float: right;
    width: 200px;
}

.red {

}

.orange {

}

.yellow {

}

.green {

}

.blue {

}

.indigo {

}

.purple {

}