body {
    margin: 0;
}
#map {
    height: 100vh;
}
.leaflet-popup-pane {
    pointer-events: none;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 5px 5px 0;
    color: #777;
    float: left;
    clear: right;
}
.info h5 {
    margin: 0 5px 5px 0;
    color: #777;
    float: left;
}

.row {
    clear: both;
}

.sliderset {
    width: 300px;
}

.sliderset label {
    color: #777;
}

.sliderset input {
    float: right;
    width: 200px;
}

.red {

}

.orange {

}

.yellow {

}

.green {

}

.blue {

}

.indigo {

}

.purple {

}