#html{
    border:0 none;
    margin:0;
    padding:0;
	width:1100px;
	height:7000px;
}
#body{
    border:0 none;
    margin:0;
    padding:0;
	width:1100px;
	height:7000px;
}
#div{
    border:0 none;
    margin:0;
    padding:0;
}
@keyframes bulles{
	from {background-color:red;}
	to {background-color:blue;}
}
#blue_header{
	background-color:rgb(61,16,224);
	width:1100px;
	height:265.606px;
}
#blue_img{
	margin-left:491px;
	margin-top:72.597px;
	width:111px;
	height:108px;
}
#blue_text{
	text-align:center;
	margin-left:498px;
	margin-top:1.35px;
	width:99.87px;
	height:9.655px;
	color:white;
}
#div2{
	width:1100px;
}
#text01{
	margin-left:535px;
	margin-right:535px;
	width:30px;
}
#blue_bracket{
	margin-left:430px;
	display:inline-block;
}
#title1{
	text-align:center;
	display:inline-block;
	width:130px;
}
#blue_bracket2{
	display:inline-block;
}
#text1{
	text-align:center;
	width:1100px;
}
#arrow{

}
#div3{

}
#text02{
	margin-left:535px;
	margin-right:535px;
	width:30px;
}
#div3_bracket{
	display:inline-block;
}
#title2{
	text-align:center;
	display:inline-block;
	width:180px;
}
#div3_bracket2{
	display:inline-block;
}
#text2_title{
	width:1100px;
	text-align:center;
}
#text2{
	width:1100px;
	text-align:center;
}
#text3_title{
	width:1100px;
	text-align:center;
}
#text3{
	width:1100px;
	text-align:center;
}
#div4{

}
#text03{
	margin-left:535px;
	margin-right:535px;
	width:30px;
}
#div4_bracket{
	display:inline-block;
}
#title3{
	display:inline-block;
	text-align:center;
}
#div4_bracket2{
	display:inline-block;
}
#text4{
	width:1100px;
	text-align:center;
}
#text5{
	width:1100px;
	text-align:center;
}
#div5{
	width:1100px;
	height:618px;
	background-color:rgb(61,16,224);
}
#text04{
	margin-left:535px;
	margin-right:535px;
	width:30px;
}
#div5_bracket{
	display:inline-block;
}
#title4{
	display:inline-block;
	color:white;
	text-align:center;
}
#div5_bracket2{
	display:inline-block;
}
#studyA{
	display:inline-block;
	width:545px;
	height:300px;
}
#studyA1{
	text-align:center;
	color:white;
}
#studyA2{
	text-align:center;
	color:white;
}
#studyA3{
	text-align:center;
	color:white;
}
#studyA4{
	text-align:center;
	color:white;
}
#studyA5{
	text-align:center;
	color:white;
}
#studyA6{
	text-align:center;
	color:white;
}
#studyB{
	display:inline-block;
	width:545px;
	height:300px;
}
#studyB1{
	text-align:center;
	color:white;
}
#studyB2{
	text-align:center;
	color:white;
}
#studyB3{
	text-align:center;
	color:white;
}
#studyB4{
	text-align:center;
	color:white;
}
#studyB5{
	text-align:center;
	color:white;
}
#studyB6{
	text-align:center;
	color:white;
}
#studyC{
	display:inline-block;
	width:545px;
	height:300px;
}
#studyC1{
	text-align:center;
	color:white;
}
#studyC2{
	text-align:center;
	color:white;
}
#studyC3{
	text-align:center;
	color:white;
}
#studyC4{
	text-align:center;
	color:white;
}
#studyC5{
	text-align:center;
	color:white;
}
#studyC6{
	text-align:center;
	color:white;
}
#studyD{
	display:inline-block;
	width:545px;
	height:300px;
}
#studyD1{
	text-align:center;
	color:white;
}
#studyD2{
	text-align:center;
	color:white;
}
#studyD3{
	text-align:center;
	color:white;
}
#studyD4{
	text-align:center;
	color:white;
}
#studyD5{
	text-align:center;
	color:white;
}
#studyD6{
	text-align:center;
	color:white;
}
#div6{
	width:1100px;
}
#text05{
	margin-left:535px;
	margin-right:535px;
	width:30px;
}
#div6_bracket{
	display:inline-block;
}
#title5{
	text-align:center;
	display:inline-block;
}
#div6_bracket2{
	display:inline-block;
}
#text12{
	text-align:center;
	display:inline-block;
	width:545px;
}
#text13{
	text-align:center;
	display:inline-block;
	width:545px;
}
#div7{
	width:1100px;
}
#text06{
	margin-left:527.5px;
	margin-right:527.5px;
	width:35px;
}
#div7_bracket{
	display:inline-block;
}
#title6{
	display:inline-block;
	text-align:center;
}
#div7_bracket2{
	display:inline-block;
}
#div8{
	width:1100px;
	height:618px;
	background-color:rgb(255,177,138);
}
#bubble_car{

}
#subdiv8{
	width:545px;
	height:618px;
	display:inline-block;
}
#text14_title{
	text-align:center;

}
#text14{
	text-align:center;
	display:inline-block;
	width:545px;
}
#div9{
	width:1100px;
	height:618px;
}
#subdiv9{
	width:545px;
	height:618px;
	display:inline-block;
}
#text15_title{
	text-align:center;
}
#text15{
	text-align:center;
	display:inline-block;
	width:545px;
}
#bubble_building{

}
#div10{
	width:1100px;
	height:550px;
	background-color:rgb(255,177,138);
}
#bubble_factory{

}
#subdiv10{
	width:545px;
	display:inline-block;
}
#text16_title{
	text-align:center;
}
#text16{
	text-align:center;
	display:inline-block;
	width:545px;
}
#div11{
	width:1100px;
}
#text07{
	margin-left:535px;
	margin-right:535px;
	width:30px;
}
#subdiv11{
	width:545px;
	display:inline-block;
	background-color:rgb(28,247,168);
}
#cells_title{
	text-align:center;
}
#cells{

}
#text17{
	text-align:center;
	display:inline-block;
	width:545px;
}
#div12{
	width:1100px;
}
#subdiv12{
	width:545px;
	display:inline-block;
	background-color:rgb(28,247,168);
}
#lungs_title{
	text-align:center;
}
#lungs{

}
#text18{
	text-align:center;
	display:inline-block;
	width:545px;
}
#div13{
	width:1100px;
}
#div13_bracket{
	margin-left:500px;
	display:inline-block;
}
#title13{
	display:inline-block;
	text-align:center;
}
#div13_bracket2{
	display:inline-block;
}
#partners{
	margin-left:150px;
	width:800px;
}
