
/* svg */

#buttons_dataviz2 > div{
	display:inline-block;
	margin-top:2px;
	margin-bottom:2px;

	&.small{
		//width:20px;
	}

	&.large{
		//width:120px;
	}
}

.dataviz2_button{
	color:rgb(61,16,224);
	background-color: #FFFFFF ;
	font-size:0.8em ;
	$border:1px solid rgb(61,16,224) ;
	$radius: 4px;
	border-top: $border ;
	border-bottom: $border ;
	border-right: $border ;
	border-left:none;
	cursor:pointer;
	padding-left:2px;
	padding-right:2px;
	&.vertical{
		display:block;
		width:100%;
	}

	&:first-of-type{
		border-top-left-radius:$radius;
		border-bottom-left-radius:$radius;
		border-left:$border;
	}

	&:last-of-type{
		border-top-right-radius:$radius;
		border-bottom-right-radius:$radius;
	}

	&:hover{
		background-color:rgb(190,175,245);
	}

	&.selected{
		background-color:rgb(61,16,224);
		color:white;
	}
}

.dot_pollution{
	stroke:#000;
	stroke-width:1px;
	cursor:pointer;
	&:hover{
		stroke-width:3px;
	}
	&.pollution_good{
		fill: rgb(28,247,168);
	}
	&.pollution_poor{
		fill: rgb(255,167,136);
	}
	&.pollution_terrible{
		fill:rgb(249,98,90);
	}
}

.bg_square{
	&.pollution_good{
		fill: rgb(28,247,168);
	}
	&.pollution_poor{
		fill: rgb(255,167,136);
	}
	&.pollution_terrible{
		fill:rgb(249,98,90);
	}
}

.chart{
	background-color: #EEE;
}

.d3-tip {
	line-height: 1;
	// font-weight: bold;
	font: 12px Helvetica;
	padding: 12px;
	text-align:center;
	margin-top: -12px;
	background: rgba(255, 255, 255, 0.7);
	color: #000;
	border-radius: 2px;
	pointer-events: none;
}

.x_axis path,
.x_axis line,
.y_axis path,
.y_axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x_axis path,
.y_axis path {
  display: none;
}

.x_axis text,
.y_axis text {
  fill: black;
  font: 10px sans-serif;
  text-anchor: end;
}

.line5y {
	fill:none;
	stroke:url(#line-gradient-d1);
	stroke-width:2px;
}

.linemonth {
	fill:none;
	stroke:url(#line-gradient-d3);
	stroke-width:2px;
}

.pollution{
	fill:rgba(150, 255, 0, 1);
}

.prescription{
	fill:rgba(70, 130, 180, 1);
}

.area_pres {
	fill:rgba(70, 130, 180, 0.7);
}

.area_poll {
	fill:rgba(124, 252, 0, 0.7);
}

/* end svg */

.text{
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	line-height: 1.5;
}
.paragraph{
	@extend .text;
	text-align:justify;
	text-align-last: center;
	font-weight:600;
}
.titles{
	@extend .text;
	line-height: 1;
	display:inline-block;
	font-weight:900;
}

#html{
    border:0 none;
    margin:0;
    padding:0;
	width:1100px;
	height:7000px;
}
#body{
    border:0 none;
    margin:0;
    padding:0;
	width:100%;
	height:7000px;
}
#div{
    border:0 none;
    margin:0 auto;
    padding:0;
}

.div{
	margin:0 auto;
	width:100%;
}

#blue_header{
	@extend .div;
	width:100%;
	background-color:rgb(61,16,224);
	height:200px;
}
#blue_img{
	margin-left:45%;
	margin-top:3.5%;
	width:10%;
	height:auto;
}
#blue_text{
	@extend .text;
	margin-left:45%;
	margin-top:1.35px;
	width:10%;
	color:white;
}
#div2{
	@extend .div;
	height:535.4px;
}
#text01{
	margin-top:20px;
	margin-left:48%;
	margin-right:48%;
	width:30px;
}
#blue_bracket{
	vertical-align:top;
	margin-top: 40px;
	margin-left:33%;
	margin-right:5%;
	display:inline-block;
}
#title1{
	@extend .titles;
	color:rgb(61,16,224);
	width:18%;
	margin-bottom:32px;

}
#blue_bracket2{
	vertical-align:top;
	margin-top: 40px;
	margin-left:5%;
	display:inline-block;
}
#text1{
	@extend .paragraph;
	font-weight:300;
	color:rgb(61,16,224);
	width:40%;
	margin-left:30%;
}
#arrow{
	margin-top:40px;
	margin-bottom:40px;
	margin-left:47%;
}
#div3{
	@extend .div;
}
#text02{
	margin-top:10px;
	margin-left:48%;
	margin-right:48%;
	width:30px;
}
#div3_bracket{
	vertical-align:top;
	margin-top: 40px;
	margin-left:30.5%;
	margin-right:5%;
	display:inline-block;
}
#title2{
	@extend .titles;
	color:rgb(61,16,224);
	width:23%;
	margin-bottom:30px;
}
#div3_bracket2{
	vertical-align:top;
	margin-top: 40px;
	margin-left:5%;
	display:inline-block;
}
#div_dv1{
	@extend .div;
	margin-top: 10px;
	margin-left:14%;
	width : 70%;
	height:500px;
}
#dv1{

}
#subdiv3A{
	@extend .div;
	vertical-align:top;
	display:inline-block;
	margin-left:15%;
	width:30%;
}
#text2_title{
	@extend .text;
	font-weight:600;
	color:rgb(61,16,224);
	text-align:center;
}
#text2{
	@extend .paragraph;
	color:rgb(61,16,224);
	font-weight:300;
	width:80%;
	margin-left:10%;
	margin-top:1px;
}
#subdiv3B{
	@extend .div;
	vertical-align:top;
	display:inline-block;
	width:40%;
}
#text3_title{
	@extend .text;
	font-weight:600;
	color:rgb(61,16,224);
	text-align:center;
}
#text3{
	@extend .paragraph;
	font-weight:300;
	color:rgb(61,16,224);
	width:80%;
	margin-left:10%;
	margin-top:1px;
}
#div4{
	@extend .div;
	height:700px;
}
#text03{
	margin-top:20px;
	margin-left:48%;
	margin-right:48%;
	width:30px;
}
#div4_bracket{
	vertical-align:top;
	margin-top: 40px;
	margin-left:31%;
	margin-right:5%;
	display:inline-block;
}
#title3{
	@extend .titles;
	color:rgb(61,16,224);
	width:22%;
	margin-bottom:30px;
}
#div4_bracket2{
	vertical-align:top;
	margin-top: 40px;
	margin-left:5%;
	display:inline-block;
}
#div_dv2{
	display:inline-block;
	width:42%;
	margin-left:5%;
}
#div_text4-5{
	vertical-align:top;
	margin-top:2%;
	display:inline-block;
	width:49%;
}
#text4{
	@extend .paragraph;
	font-weight:600;
	color:rgb(61,16,224);
	text-align:center;
	width:50%;
	margin-left:25%;
	margin-top:5%;
}
#text5{
	@extend .paragraph;
	font-weight:400;
	color:rgb(61,16,224);
	width:70%;
	margin-left:15%;
	margin-top:1px;
}
#div5{
	@extend .div;
	height:800px;
	width:100%;
	background-color:rgb(61,16,224);
}
#text04{
	margin-top:10px;
	margin-left:48%;
	margin-right:48%;
	width:30px;
}
#div5_bracket{
	vertical-align:top;
	margin-top: 50px;
	margin-left:25%;
	margin-right:5%;
	display:inline-block;
}
#title4{
	@extend .titles;
	color:rgb(61,16,224);
	width:35%;
	color:white;
	margin-bottom:30px;
}
#div5_bracket2{
	vertical-align:top;
	margin-top: 50px;
	margin-left:5%;
	display:inline-block;
}
#studyA{
	display:inline-block;
	width:45%;
	height:300px;
	vertical-align:top;
	margin-left:8%;
}
#studyA1{
	@extend .text;
	font-weight:800;
	color:rgb(61,16,224);
	color:white;
	width:50%;
	margin-left:25%;
}
#studyA2{
	@extend .text;
	font-weight:600;
	color:rgb(61,16,224);
	text-align:center;
	color:white;
	width:50%;
	margin-left:25%;
}
#studyA3{
	@extend .text;
	line-height: 1;
	font-weight:300;
	color:rgb(61,16,224);
	text-align:center;
	color:white;
	width:50%;
	margin-left:25%;
	margin-top:-25px;
}
#studyA4{
	@extend .text;
	font-weight:600;
	color:rgb(61,16,224);
	text-align:center;
	color:white;
	width:50%;
	margin-left:25%;
}
#studyA5{
	@extend .text;
	line-height: 1;
	font-weight:300;
	color:rgb(61,16,224);
	text-align:center;
	color:white;
	width:50%;
	margin-left:25%;
	margin-top:-25px;
}
#studyA6{
	@extend .text;
	line-height: 1;
	font-weight:400;
	color:rgb(61,16,224);
	text-align:center;
	color:white;
	width:50%;
	margin-left:25%;
}
#studyB{
	display:inline-block;
	width:45%;
	height:300px;
	vertical-align:top;
	margin-left:-7%;
	
}
#studyC{
	display:inline-block;
	margin-top:30px;
	width:45%;
	height:300px;
	vertical-align:top;
	margin-left:8%;
}
#studyD{
	display:inline-block;
	margin-top:30px;
	width:45%;
	height:300px;
	vertical-align:top;
	margin-left:-7%;
}
#div6{
	@extend .div;
}
#text05{
	margin-top:10px;
	margin-left:48%;
	margin-right:48%;
	width:30px;
}
#div6_bracket{
	vertical-align:top;
	margin-top: 65px;
	margin-left:31%;
	margin-right:5%;
	display:inline-block;
}
#title5{
	@extend .titles;
	color:rgb(61,16,224);
	width:22%;
	margin-bottom:30px;
}
#div6_bracket2{
	vertical-align:top;
	margin-top: 65px;
	margin-left:5%;
	display:inline-block;
}
#div_dv3{
	@extend .div;
	margin-left:150px;
	height:350px;
}
#dv3{

}
#div_text12{
	vertical-align:top;
	display:inline-block;
	width:49%;
}
#text12{
	@extend .paragraph;
	line-height:1;
	color:rgb(61,16,224);
	width:60%;
	margin-left:30%;
}
#div_text13{
	vertical-align:top;
	display:inline-block;
	width:49%;
}
#text13{
	@extend .paragraph;
	line-height:1;
	color:rgb(61,16,224);
	width:60%;
	margin-left:10%;
}
#div7{
	@extend .div;
}
#text06{
	margin-top:10px;
	margin-left:48%;
	margin-right:48%;
	width:35px;
}
#div7_bracket{
	vertical-align:top;
	margin-top: 40px;
	margin-left:33%;
	margin-right:5%;
	display:inline-block;
}
#title6{
	@extend .titles;
	color:rgb(61,16,224);
	width:18%;
	margin-bottom:80px;
}
#div7_bracket2{
	vertical-align:top;
	margin-top: 40px;
	margin-left:5%;
	display:inline-block;
}
@keyframes bulles_anim{
	0% {
		margin-bottom:-150px;
		margin-left:0px;
		opacity:1.0;
	}
	25%{
		margin-bottom:-112.5px;
		margin-left:20px;
		opacity:1.0;
	}
	50%{
		margin-bottom:-75px;
		margin-left:40px;
		opacity:1.0;
	}
	75%{
		margin-bottom:-37.5px;
		margin-left:60px;
		opacity:1.0;
	}
	100% {
		margin-bottom:0px;
		margin-left:80px;
		opacity:0;
	}
}
@keyframes bulles_anim2{
	0% {
		margin-bottom:-250px;
		margin-left:0px;
		opacity:1.0;
	}
	25%{
		margin-bottom:-190px;
		margin-left:20px;
		opacity:1.0;
	}
	50%{
		margin-bottom:-125px;
		margin-left:40px;
		opacity:1.0;
	}
	75%{
		margin-bottom:-67.5px;
		margin-left:60px;
		opacity:1.0;
	}
	100% {
		margin-bottom:0px;
		margin-left:80px;
		opacity:0;
	}
}
@keyframes bulles_anim3{
	0% {
		margin-bottom:-150px;
		margin-left:0px;
		opacity:1.0;
	}
	25%{
		margin-bottom:-112.5px;
		margin-left:10px;
		opacity:1.0;
	}
	50%{
		margin-bottom:-75px;
		margin-left:20px;
		opacity:1.0;
	}
	75%{
		margin-bottom:-37.5px;
		margin-left:30px;
		opacity:1.0;
	}
	100% {
		margin-bottom:0px;
		margin-left:40px;
		opacity:0;
	}
}
#div8{
	@extend .div;
	height:420px;
}
#bulles1{
	height:60px;
	margin-left:20%;
	margin-bottom:-40px;
}
#bulles2{
	height:60px;
	margin-left:52%;
	margin-bottom:-130px;
}
#bulles3{
	height:60px;
	margin-left:83%;
	margin-bottom:-50px;
}
.bulle{
	animation-name: bulles_anim;
	animation-iteration-count: infinite;
	width:auto;
}
.bulle2{
	animation-name: bulles_anim2;
	animation-iteration-count: infinite;
	width:auto;
}
.bulle3{
	animation-name: bulles_anim3;
	animation-iteration-count: infinite;
	width:auto;
}
#bulle_401{
	@extend .bulle;
	height:40px;
    animation-duration: 4s;
	animation-delay: 0.1s;
	animation-timing-function:ease-out;
	z-index: 101;
}
#bulle_301{
	@extend .bulle;
	margin-left:-10px;
	height:30px;
    animation-duration: 4s;
    animation-delay: 0.1s;
	animation-timing-function:ease-out;
	z-index: 101;
}
#bulle_201{
	@extend .bulle;
	height:20px;
    animation-duration: 4s;
	animation-delay: 0.1s;
	animation-timing-function:linear;
	z-index: 101;
}
#bulle_101{
	@extend .bulle3;
	height:10px;
    animation-duration: 4s;
    animation-delay: 0.1s;
	animation-timing-function:ease-in;
	z-index: 101;
}
#bulle_4013{
	@extend .bulle3;
	height:40px;
    animation-duration: 4s;
	animation-delay: 0.1s;
	animation-timing-function:ease-out;
	z-index: 101;
}
#bulle_3013{
	@extend .bulle3;
	margin-left:-10px;
	height:30px;
    animation-duration: 4s;
    animation-delay: 0.1s;
	animation-timing-function:ease-out;
	z-index: 101;
}
#bulle_2013{
	@extend .bulle3;
	height:20px;
    animation-duration: 4s;
	animation-delay: 0.1s;
	animation-timing-function:linear;
	z-index: 101;
}
#bulle_1013{
	@extend .bulle3;
	height:10px;
    animation-duration: 4s;
    animation-delay: 0.1s;
	animation-timing-function:ease-in;
	z-index: 101;
}
#bulle_402{
	@extend .bulle2;
	height:40px;
    animation-duration: 4s;
	animation-delay: 0.1s;
	animation-timing-function:ease-out;
	z-index: 101;
}
#bulle_302{
	@extend .bulle2;
	margin-left:-10px;
	height:30px;
    animation-duration: 4s;
    animation-delay: 0.1s;
	animation-timing-function:ease-out;
	z-index: 101;
}
#bulle_202{
	@extend .bulle2;
	height:20px;
    animation-duration: 4s;
	animation-delay: 0.1s;
	animation-timing-function:linear;
	z-index: 101;
}
#bulle_102{
	@extend .bulle2;
	height:10px;
    animation-duration: 4s;
    animation-delay: 0.1s;
	animation-timing-function:ease-in;
	z-index: 101;
}
#bulle_403{
	@extend .bulle3;
	height:40px;
    animation-duration: 4s;
	animation-delay: 0.1s;
	animation-timing-function:ease-out;
	z-index: 101;
}
#bulle_303{
	@extend .bulle3;
	margin-left:-10px;
	height:30px;
    animation-duration: 4s;
    animation-delay: 0.1s;
	animation-timing-function:ease-out;
	z-index: 101;
}
#bulle_203{
	@extend .bulle3;
	height:20px;
    animation-duration: 4s;
	animation-delay: 0.1s;
	animation-timing-function:linear;
	z-index: 101;
}
#bulle_103{
	@extend .bulle3;
	height:10px;
    animation-duration: 4s;
    animation-delay: 0.1s;
	animation-timing-function:ease-in;
	z-index: 101;
}
#div_big_img{
	width:100%;
}
#big_img_bg{
	margin-left:1%;
	margin-top:-450px;
	width:98%;
	height:auto;
	z-index:102;
}
#big_img{
	margin-left:1%;
	margin-top:-910px;
	width:98%;
	height:auto;
	z-index:100;
}
#pic{
	display:inline-block;
	vertical-align:top;
	margin-top:-70px;
	margin-left:13%;
	margin-right:13%;
}
#div9{
	@extend .div;
	height:220px;
}
#subdiv8{
	width:32%;
	display:inline-block;
	vertical-align:top;
	margin-top:85px;
}
#subdiv8B{
	width:60%;
	height:30%;
	margin-left:20%;
	margin-top:35px;
}
#text14_title{
	@extend .titles;
	margin-left:33%;
	color:rgb(61,16,224);
	margin-bottom:50px;
}
#text14{
	@extend .paragraph;
	line-height:1;
	color:rgb(61,16,224);
	width:80%;
	margin-left:10%;
	margin-top:-15px;
}
#text14B{
	@extend .paragraph;
	line-height:1;
	margin-top:-25px;
	color:rgb(61,16,224);
	width:80%;
	margin-left:10%;
}

#subdiv9{
	width:32%;
	display:inline-block;
	vertical-align:top;
	margin-top:85px;
}
#subdiv9B{
	width:60%;
	height:30%;
	margin-left:20%;
	margin-top:35px;
}
#text15_title{
	@extend .titles;
	margin-left:26.5%;
	color:rgb(61,16,224);
	margin-bottom:50px;
}
#text15{
	@extend .paragraph;
	line-height:1;
	color:rgb(61,16,224);
	width:80%;
	margin-left:9%;
	margin-top:-15px;
}
#div10{
	@extend .div;
	height:420px;
	background-color:rgb(255,177,138);
}
#subdiv10{
	width:32%;
	display:inline-block;
	margin-top:10%;
	vertical-align:top;
	margin-top:85px;
}
#subdiv10B{
	width:60%;
	height:30%;
	margin-left:20%;
	margin-top:35px;
}
#text16_title{
	@extend .titles;
	margin-left:23%;
	color:rgb(61,16,224);
	margin-bottom:50px;
}
#text16{
	@extend .paragraph;
	line-height:1;
	color:rgb(61,16,224);
	width:80%;
	margin-left:10%;
	margin-top:-15px;
}
#div11{
	@extend .div;
	width:100%;
	margin-top:190px;
}
#text07{
	margin-top:20px;
	margin-left:97.75%;
	margin-right:550px;
	width:30px;
}
#subdiv11{
	width:50%;
	display:inline-block;
	background-color:rgb(28,247,168);
	margin-left:0 auto;
}
#cells_title{
	@extend .titles;
	width:30%;
	margin-left:35%;
	color:rgb(61,16,224);
}
#cells{
	margin-left:35%;
	margin-bottom:40px;
}
#div_text17{
	vertical-align:top;
	display:inline-block;
	width:49%;
}
#text17{
	@extend .paragraph;
	line-height:1;
	color:rgb(61,16,224);
	width:60%;
	margin-left:20%;
	margin-top:20%;
}
#div12{
	@extend .div;
	width:100%;
}
#subdiv12{
	width:50%;
	display:inline-block;
	background-color:rgb(28,247,168);
}
#lungs_title{
	@extend .titles;
	color:rgb(61,16,224);
	margin-left:33%;
	margin-top:30px;
}
#lungs{
	margin-left:35%;
	margin-bottom:40px;
}
#div_text18{
	vertical-align:top;
	display:inline-block;
	width:49%;
}
.text18{
	@extend .paragraph;
	line-height:1;
	color:rgb(61,16,224);
	width:60%;
	margin-left:20%;
	margin-top:1%;
}
#text18A{
	@extend .text18;
}
#text18B{
	@extend .text18;
}
#text18C{
	@extend .text18;
}
#div13{
	@extend .div;
}
#partners{
	margin-top:50px;
	width:60%;
	height:auto;
	margin-left:20%;
}
