
.nuage, .nuage2{
	position: absolute;
	z-index: 20;
}

#nuage1{
	width: 7vw;
	height: 10vh;
	left:40vw;
	top: 65vh;
	
}

#nuage2{
	width: 9vw;
	height: 10vh;
	left:30vw;
	top:50vh;
}

#nuage3{
	width: 8vw;
	height: 11vh;
	left:50vw;
	top:50vh;
}

#nuage4{
	width: 4vw;
	height: 5;
	left:25vw;
	top:25vh;
}

#nuage5{
	width: 7vw;
	height: 6vh;
	left:45vw;
	top:35vh;
}

#nuage6{
	width: 9vw;
	height: 11vh;
	left:55vw;
	top:60vh;
}