@font-face {
    font-family: "Avenir";
    src: url('../font/Avenir.ttc');
    font-weight: bolder;
}
@font-face {
    font-family: 'Aldrich';
    src: url('../font/Aldrich.ttf') format('truetype');
}

@import url(http://fonts.googleapis.com/css?family=Aldrich);

html{
	-moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    font-family: "Avenir",Arial,sans-serif;
}

#container{
	font-family: "Avenir",Arial,sans-serif;
	text-align: center;
	background-color: #FFF;
}

a:link{text-decoration:none}

h1{
	color: #C2DEBC;
	font-size: 4vmin;
}

h2{
	color: #5794B2;
}

#scroll{
	height: 10vh;
}

.svg{
	width: 60vw;
	height: 75vh
}


.isles{
	position:relative;
	top:-12vh;
}

.logo{
	height: 8vh;
	padding-right: 10px;
}

.small_logo{
	height: 2vh;
	padding-right: 10px;
}


#logo{
	position: absolute;
	bottom: 12vh;
	width: 99%;
	margin-left: auto;
	margin-right: auto;
}

.team{
	margin-right: 8vw;
}

.lets_text{
    font-family: "Aldrich", sans-serif;
}

.lets_text .logo{
	position: relative;
	top: 8vh;
}

#s1 {
    background-color: #D3E6FF;
}
#s2 {
    background-color: #D3E6FF;
}
#s5{
	vertical-align: top;
}

.info{
	background-color: rgba(254, 231, 201, 0.5);
	position: absolute;
	top: 15vh;
	right: 7vw;
	padding: 10px;
	width: 20vw;
	height: 16vh;
	overflow: auto;
	font-size: 1.4vmin;
	border-radius: 10px;
	//box-shadow: 5px 7px 0px rgba(233, 164, 129, 0.7);
	text-align: justify;
	color: #70C2B8;
}

.info_carbu{
	background-color: rgba(254, 231, 201, 0.5);
	position: absolute;
	top: 30vh;
	left: 7vw;
	padding: 10px;
	width: 20vw;
	height: 30vh;
	overflow: auto;
	font-size: 1.6vmin;
	border-radius: 10px;
	//box-shadow: 5px 7px 0px rgba(233, 164, 129, 0.7);
	text-align: justify;
	color: #70C2B8;
}

.donut{
	position: absolute;
	width: 11vh;
	height: 11vh;
}

#pompe{
	width:100%;
	height: 100%;
}

#barchart{
	background-color: rgba(254, 231, 201, 0.5);
	position: absolute;
	top: 23vh;
	right: 7vw;
	padding: 10px;
	width: 30vw;
	height: 44vh;
	color: #70C2B8;
}

#barchart .ct-label{
	font-family: "Avenir";
	font-size: 1em;
	justify-content: flex-start;
}


#barchart .ct-series-a .ct-bar {
  stroke: #9BD0B8;
}

#mono{
	z-index: 20;
	top : 15vh;
	left: 45vw;
}

#none{
	z-index: 21;
	top: 34vh;
	left: 33vw;
}

#biPlus{
	z-index: 22;
	top: 39vh;
	left: 53vw;
}

.ct-chart-donut .ct-series-a .ct-slice-donut {
	stroke: #C96178;
}
/*make b hidden*/
.ct-chart-donut .ct-series-b .ct-slice-donut {
	stroke: #efefef;
	opacity: 0;
}
/*make all fill-donut series visible and set color*/
.ct-chart-donut .ct-fill-donut .ct-slice-donut{
	stroke: #efefef;
	opacity: 1;
}

h3{
	font-family: "Avenir";
	font-size: 2.5vmin;
	color: #C96178;
}


/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
	position:fixed;
	font-size: 12px;
	height: 20px;
	display:block;
	width: 100%;
	background: #FFF;
	z-index:9;
	text-align:center;
	color: #000;
	padding: 0px 0 0 0;
}

#header{
	top:0px;
}
#footer{
	bottom:0px;
}