.barreDefilement{
	width: 50vw;
	height: 15vh;
	bottom: 8vh;
	left: 25vw;
	position : absolute;
	margin-left: auto;
	margin-right: auto;*
}

span.ct-label{
	font-weight: bold;
	font-size : 2vmin;
	display : block;
	max-width: 2em;
	cursor:  pointer;
}
#chartParc .ct-label, #chartMotorisation .ct-label, #chartCarburant .ct-label{
	color: #80BC4E;
}

#chartMotorisation .ct-line, #chartParc .ct-line, #chartCarburant .ct-line{
	stroke-width: 1px;
}

#chartParc .ct-line, #chartParc .ct-point, #chartMotorisation .ct-line, #chartCarburant .ct-line, #chartMotorisation .ct-point, #chartCarburant .ct-point{
	stroke: #80BC4E;
}

.car{

	height: 2.2vh;
	width: 2.2vw;
	position: absolute;
}

#neuf{
	z-index: 40;
	top: 20vh;
	left: 30vw;
}

#occasion{
	z-index: 40;
	top: 50vh;
	left: 72vw;
}