@font-face {
    font-family: "Avenir";
    src: url('../font/Avenir.ttc');
    font-weight: bolder;
}
@font-face {
    font-family: 'Aldrich';
    src: url('../font/Aldrich.ttf') format('truetype');
}

@import url(http://fonts.googleapis.com/css?family=Aldrich);



html{
	-moz-user-select: -moz-none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
    font-family: "Avenir",Arial,sans-serif;
}

#container{
	font-family: "Avenir",Arial,sans-serif;
	background-color: #FFF;
}

a:link{text-decoration:none}

h1{
	color: #C2DEBC;
	font-size: 4vmin;
	text-align: center;
	position: absolute;
	top : 2vh;
	width: 75vw;
	margin: 0 12.5vw;
}

h2{
	position: absolute;
	width: 75vw;
	margin : 0 12.5vw;
	text-align: center;
	color: #5794B2;
	font-size: 3vmin;
	bottom: 10vh;
}

h4{
	margin : 0 0 0 0;
	padding : 0 0 0 0;
	font-size : 3vmin;
}

#scroll{
	position : absolute;
	bottom: 0vh;
	width: 10vmin;
	height: 10vmin;
	margin: 0 45vw;
}

.svg{
	width: 60vw;
	height: 75vh
}

.isles{
	position:absolute;
	width: 60vw;
	height: 75vh;
	top : 10vh;
	left : 20vw;
}

.accueil{
}

.logo{
	height: 8vh;
	padding-right: 10px;
}

.small_logo{
	height: 2vh;
	padding-right: 10px;
}


#logo{
	position: absolute;
	bottom: 15vh;
	width: 75vw;
	margin: 0 12.5vw;
}

.team{
	margin-right: 8vw;
}

.lets_text{
    font-family: "Aldrich", sans-serif;
}

.lets_text .logo{
	position: relative;
	top: 8vh;
}

.info{
	background-color: rgb(254, 231, 201);
	opacity:  0.6;
	position: absolute;
	left: 4vw;
	padding: 2vmin;
	width: 18vw;
	height: 40vh;
	overflow: auto;
	border-radius: 2vmin;
	text-align: justify;
	color: #70C2B8;
	font-size: 2vmin;
	top : 30vh;
}

#info_carbu{
	height: 50vh;
	top : 25vh;
}

.donut{
	position: absolute;
	width: 11vh;
	height: 11vh;
	font-size: 2vmin;
}

#pompe{
	width:30vw;
	height: 50vh;
	position:absolute;
	top: 25vh;
	left:22vw;
}

#barchart{
	background-color: rgba(254, 231, 201, 0.5);
	position: absolute;
	top: 30vh;
	right: 7vw;
	padding: 2vmin;
	width: 40vw;
	height: 44vh;
	color: #70C2B8;
}

#barchart .ct-label{
	font-family: "Avenir";
	font-weight : bold;
	font-size : 2vmin;
	justify-content: flex-start;
}

#barchart .ct-series-a .ct-bar {
  stroke: #9BD0B8;
  stroke-width : 3%;
}


#mono{
	z-index: 20;
	top : 19vh;
	left: 45vw;
}

#none{
	z-index: 21;
	top: 38vh;
	left: 33vw;
}

#biPlus{
	z-index: 22;
	top: 43vh;
	left: 53vw;
}

.ct-chart-donut .ct-series-a .ct-slice-donut {
	stroke: #E44637;
}
/*make b hidden*/
.ct-chart-donut .ct-series-b .ct-slice-donut {
	stroke: #efefef;
	opacity: 0;
}
/*make all fill-donut series visible and set color*/
.ct-chart-donut .ct-fill-donut .ct-slice-donut{
	stroke: #efefef;
	opacity: 1;
}

.ct-slice-donut{
	stroke-width : 1px;
}

h3{
	font-family: "Avenir";
	font-size: 2.5vmin;
	color: #E44637;
}

#foooter{
	position: absolute;
	height: 60vh;
	width: 30vw;
	z-index:-1;
	top : 0vh;
	left: 35vw;
}

#s5 h2{
	top: 31vh;
}



/* Fixed header and footer.
* --------------------------------------- */
#header, #footer{
	position:fixed;
	font-size: 12px;
	height: 20px;
	display:block;
	width: 100%;
	background: #FFF;
	z-index:9;
	text-align:center;
	color: #000;
	padding: 0px 0 0 0;
}

#header{
	top:0px;
}
#footer{
	bottom:0px;
}