/* just a sample css rule to show that everything works */
footer p
{
  font-size: small;
}

h1, h2, h3, h4, h5, h6
{
	position: relative;
	color: black;
	text-align: center;
	font-size: 2.5vw;
}

h2
{
	font-size: 1.75vw;
}

li
{
	position: relative;
	display:block;
	width:15%;
	height: 5vw;
	float:left;
	margin-right: 9.15%;
	margin-left: 9.15%;
	font-size: 0.625vw;
	cursor: pointer;
}

span>ul>li
{
	background-color: #E1F1F3;
	border-radius: 1vw;
	color: black;
	display: table;
	vertical-align: middle;
}

span>ul>li>p
{
	font-size: 1vw;
	color: #002266;
	font-weight: bold;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.section
 {
	background-color:#f7fbfc; 
	opacity: 0.9;
 }

.titre
{
	font-weight: bold;
	text-align: center;
	bottom: 40%;
	color: #002266;
}

.text-left
{
	text-align: left;
	left: 2%;
}

.sous_titre_orange
{
	text-align: center;
	bottom: 40%;
	color: #ffbf00;
	font-weight: bold;
}

.contenu
{
	position: absolute;
	top: 50%;
	width: 100%;
	height: auto;
}

.propositions
{
	top: 82.5%;
	width: 25%;
	margin-right:15px;
	margin-left:15px;
}

.liste_propositions
{
	position: absolute;
	left: -27.5%;
	width: 60%;
}

.bloc_reponse
{
	position: absolute;
	top: 30%;
	left: 12.5%;
	background-color: #365471;
	width: 10%;
	height: 35%;
	color: white;
	border-radius: 5vw;
	display: table;
	vertical-align: middle;
}

.contenu_reponse
{
	font-size: 1.125vw;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-left: 17.5%;
	padding-right: 5%;
	line-height: 1.75vw;
}

.contenu_reponse>b
{
	font-size: 1.5vw;
}

#q2
{
	left: -28%;
}

#q3
{
	left: -65.5%;
}

#q4
{
	left: -27.5%;
}

.q2
{
	left: 37.5%;
}

.q3
{
	left: 62.5%;
}

.q4
{
	left: 87.5%;
}

.bouton
{
	position: relative;
	color: black;
}

.bouton_demarrer
{
	color: white;
	position: absolute;
	top : 80%;
	left: 45%;
	width: 10%;
	font-size: 1.5vw;
	background-color:#e4685d;
	border:1px solid #ffffff;
	display:inline-block;
	cursor: pointer;
	padding:6px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.bouton_valider
{
	cursor: pointer;
	position: absolute;
	right: -15%;
}

.bouton_continuer
{
	position: relative;
	margin-top: 200%;
	right: 35%;
	cursor: pointer;
}

.mot_important
{
	font-size: 2vw;
	color: #e4685d;
	font-weight: bold;
}

.section_perso
{
	background-color: #F7FBFC;
}

.image_fond
{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	bottom: 0%;
}

.image_fond2
{
	width: 100%;
	height: 100%;
}

.element_fond
{
	position: absolute;
	z-index: 1;
	opacity: 0;
	width: 6%;
	height: auto;
}

#fond_q1
{
	left: -37.5%;
}

#fond_q2
{
	left: -12.5%;
}

#fond_q3
{
	left: 12.5%;
}

#fond_q4
{
	left: 37.5%;
}

#nuage1
{
	bottom: 62.5%;
	left: 5%;
	transform: scale(3.5);
}

#nuage2
{
	bottom: 50%;
	left: 40%;
	transform: scale(2.5);
}

#nuage3
{
	bottom: 59%;
	left: 85%;
	transform: scale(2.5);
}

#tracteur_intro
{
	opacity: 1;
	bottom: 3.5%;
	left: 32.5%;
	transform: scale(0.6);
}

#bateau_intro
{
	opacity: 1;
	bottom: 10%;
	right: 11.5%;
}

#panneau_intro_1
{
	opacity: 1;
	bottom: 7%;
	left: 56%;
	transform: scale(0.8);
}

#panneau_intro_2
{
	opacity: 1;
	bottom: 3%;
	left: 53%;
	transform: scale(0.8);
}

#panneau_intro_3
{
	opacity: 1;
	bottom: 3%;
	left: 58%;
	transform: scale(0.8);
}

#pale_intro_1
{
	opacity: 1;
	bottom: 33%;
	left: 57.4%;
}

#pale_intro_2
{
	opacity: 1;
	bottom: 33%;
	left: 63.9%;
}

#pale_intro_3
{
	opacity: 1;
	bottom: 33%;
	left: 70.5%;
}

#france
{
	position: relative;
	width: 45%;
	height: auto;
	bottom: 4.5%;
	left: 25%;
}

#ampoule_q2
{
	position: relative;
	left: 17.5%;
	width: 15%;
	height: auto;
}

#batiment_q2
{
	position: relative;
	left: 27.5%;
	width: 15%;
	height: auto;
}

#euro_q2
{
	position: relative;
	left: 37.5%;
	width: 15%;
	height: auto;
}

#elements_q3
{
	position: relative;
	width: 55%;
	height: auto;
	left: 19%;
	bottom: 5%;
}

#tracteur_q3
{
	position: relative;
	width: 7.5%;
	height: auto;
	right: 31%;
	top: 17.5%;
}

#panneau_1_q3
{
	position: relative;
	width: 6.5%;
	height: auto;
	top: 19%;
	right: 11%;
}

#panneau_2_q3
{
	position: relative;
	width: 6.5%;
	height: auto;
	top: 12%;
	right: 14%;
}

#panneau_3_q3
{
	position: relative;
	width: 6.5%;
	height: auto;
	top: 12%;
	right: 27.5%;
}

#elements_q4
{
	position: relative;
	width: 45%;
	height: auto;
	left: 28.5%;
	bottom: 0%;
}

#data1_infos
{
	position: absolute;
	width: 30%;
	height: 25%;
	left: 11.4%;
	top: 25%;
	font-size: 1vw;
	color: #002266;
}

#data1_infos>b
{
	font-size: 1.25vw;
}

#saviez_vous
{
	position: relative;
	width: 30%;
	height: 25%;
	padding: 2%;
	top: 17.5%;
	left: 11.4%;
	text-align: center;
}

#saviez_vous>p
{
	text-align: left;
	font-size: 1vw;
}

#saviez_vous>b
{
	font-size: 1.25vw;
}

#data1_contenu_carte
{
	position: relative;
	width: 100%;
	height: auto;
}

.data1_element
{
	position: relative;
	width: 2%;
	height: auto;
}

#tracteur1_data1
{
	left: 62%;
	bottom: -50%;
}

#svg_dataviz3
{
	position: absolute;
}

#fp-nav
{
	transform: rotate(90deg);
}

#fp-nav.right {
    right: -70px !important;
}

#svg_dataviz2 {
    display: block;
    margin: auto;
}


/* Intercalaire Dataviz 3 */

#trotteuse
{
	position: absolute;
	width: 10%;
	height: 20%;
	top : 62%;
	left: 42.8%;
}

#eolienne1_i3
{
	position: absolute;
	width: 10%;
	height: 13%;
	top : 31%;
	left: 39.8%;
}