#Region4.bar,#Region2.bar,#Region3.bar{
  background:#A77548;
  margin-top: 0em;
}
#Province2.bar,#Province3.bar,#Province4.bar{
  background: #9393CC;
  margin-top: 0em;
  margin-bottom:3em;
}
#IDF2.bar,#IDF3.bar,#IDF4.bar{
   background: #5D5DA5;
  margin: 0em;
}
#Deux,#Trois,#Quatre{
  max-height:100px;
  max-width:100px;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  font-family: "Montserrat", sans-serif;
  padding: 12px;
}
.bar 
{
  width: 0;
  position: relative;
  transition: width 2s, background .2s;
  -webkit-transform: translate3d(0, 0, 0);
  clear: both;
  font-size: .75em;
  padding: 0.75em;
  width: 5em;/* Taille*/
  display: inline-block;
  position: relative;
  z-index: 2;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.count {
  position: absolute;
  right: .25em;
  top: .1em;
  padding: .15em;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
}

#histogramme{
  position:relative;
  width:0px;
  height:200px;
  left: 5vw;
  top: -8vh;
}