.fondGris{
    margin-top: 2.5vh;
    width: 100%;
    height: 60%;
    background: -webkit-linear-gradient(left,#DCDCDC,#FBFBFB); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(left,#D9D9D9,#FFFFFF); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left,#D9D9D9,#FFFFFF);
	background: linear-gradient(left,#D9D9D9,#FFFFFF); /* Standard syntax (must be last) */
}

.avantRegion1, .avantRegion3{
    position: relative;
    left : 50%;
    top :-90%;
    width : 50%;
    height: 10%;
}

.apresRegion1, .apresRegion3{
    position : relative;
    left: 50%;
    top: -90%;
    width: 50%;
    height: 90%;
    font-family: 'Lato-Regular',sans-serif;
    color: #5D5DA5;
    font-size: 3vh;
    text-align: center;
}
.avantRegion2{
    position: relative;
    left : 50%;
    top :-92%;
    width:50%;
    height:10%;
}

.apresRegion2{
    position : relative;
    width:50%;
    height:90%;
    font-family: 'Lato-Regular',sans-serif;
    color: #5D5DA5;
    font-size: 3vh;
    left : 50%;
    top : -92%;
}

.logoCliquer{
    position: relative;
    display: inline-block;
    left: 0%;
    top: 270%;
    width:100%;
    height:200%;
}

.logoCliquer2{
    position: relative;
    display: inline-block;
    left: -2%;
    top: 0%;
    width:100%;
    height:200%;
}

.texteCliquer{
    position: relative;
    color: #6D6D6D;
    display: inline-block;
    top: 40%;
    left: 0%;
    font-size: 2vh;
}
#cliquer2{
    position: relative;
    color: #6D6D6D;
    display: block;
    top: 5%;
    left:25%;
    font-size: 2vh;
    font-family: 'Lato-Regular',sans-serif;
}

#flechegauche{
    position: relative;
    display: inline-block;
    top: 15%;
    width:5%;
    height:50%;
}

#flechedroite{
    position: relative;
    display: inline-block;
    top:15%;
    width:5%;
    height:50%;
}

.label1, .label3{
    position: relative;
    font-family: 'Lato_Regular',sans-serif;
    font-size: 3vh;
    color: #6D6D6D;
    text-align: center;
}

.nom, .nom3{
    position: relative;
    top: 0%;
    font-family: 'Lato_Black', sans-serif;
    text-transform : uppercase;
    font-size: 6vh;
    color: #A77548;
    text-align: center;
}

.svg, .svg3{
    position: relative;
    top: 30%;
    display: inline-block;
    margin-left: 2vw;
    margin-right: 1vw;
    height:60%;
}

.nombre, .nombre3{
    position: relative;
    top: -1%;
    font-family: 'Lato_Black', sans-serif;
    color: #373763;
    font-size: 10vh;
    display: inline-block;
    margin-left: 1vw;
    margin-right: 2vw;
}

.nombre3{
    font-size: 7vh;
}

/*DATAVISUALISATION 2*/

.NomRegion{
    position: relative;
    top: 0%;
    left:20%;
    height:30%;
    width:50%;
    font-family: 'Lato_Black', sans-serif;
    text-transform : uppercase;
    font-size: 4vh;
    color: #A77548;
    text-align: center;
}

#doughnutChart{
    width:50%;
    height:50%;
    margin-left: auto;
  margin-right: auto;
}
