/*
	Définition des polices
*/

@font-face {
    font-family: 'Lato_Black';
    src:  url('./Lato/Lato-Black.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato_Black_Italic';
    src:  url('./Lato/Lato-BlackItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato_Bold';
    src:  url('./Lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato_Bold_Italic';
    src:  url('./Lato/Lato-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato_Regular';
    src:  url('./Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato_Hairline';
    src:  url('./Lato/Lato-Hairline.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato_Hairline_Italic';
    src:  url('./Lato/Lato-HairlineItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato_Thin';
    src:  url('./Lato/Lato-Thin.ttf') format('truetype');
}
@font-face {
    font-family: 'Lato_Thin_Italic';
    src:  url('./Lato/Lato-ThinItalic.ttf') format('truetype');
}

/*
	Pour l'animation de la flèche en page de garde et d'intro
*/

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-3vh);
    -ms-transform: translateY(-3vh);
    -webkit-transform: translateY(3vh);
    transform: translateY(-3vh);
  }
  60% {
    -moz-transform: translateY(-2vh);
    -ms-transform: translateY(-2vh);
    -webkit-transform: translateY(-2vh);
    transform: translateY(-2vh);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: 2s ease 3s normal none infinite running bounce;
}
/*
	Pour l'animation de la flèche droite /gauche
*/

@keyframes bounce2 {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-3vh);
    -ms-transform: translateY(-3vh);
    -webkit-transform: translateY(3vh);
    transform: translateY(-3vh);
  }
  60% {
    -moz-transform: translateY(-2vh);
    -ms-transform: translateY(-2vh);
    -webkit-transform: translateY(-2vh);
    transform: translateY(-2vh);
  }
}

.bounce2 {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: 2s ease 2s normal none infinite running bounce;
}

/*
-------------------------------------------------
*/


body {
	margin: 0;
	padding: 0;
	font-family: 'Lato_Regular', sans-serif;
	font-size: 2.5vh;
}

/*
	Page de garde
*/

#page_garde{
	background: -webkit-linear-gradient(left bottom, #19182D,#373763); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(left bottom, #19182D,#373763); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left bottom, #19182D,#373763);
	background: linear-gradient(left bottom, #19182D,#373763); /* Standard syntax (must be last) */
}

#logo1garde{
	position: absolute;
	right: 0%;
	width: 105vh;
	opacity: 0.06;
}

.garde{
	position : absolute;
	left : 8.5%;
}

#films_en_bretagne{
	width: 33.5vh;
	top: 6vh;
	left: 8%;
}

.barre_separation_garde{
	width: 14.8%;
	height: 0.3%;
	background-color: #DBA774;
	position: absolute;
	left: 8.5%;
}

#barre1{
	top: 34vh;
}

#texte1garde{
	font-family: 'Lato_Black';
	font-size: 5.4vh;
	color: white;
	top: 35vh;
}

#barre2{
	top: 62vh;
}

#logo2garde{
	top: 69.5vh;
	width: 11vh;
}

#texte2garde{
	font-family: 'Lato_Thin';
	color: #DBA774;
	font-size: 3.7vh;
	top: 66vh;
	left: 17%;
}

#latoBlack{
	font-family:'Lato_Regular';
	font-weight: bold;
}

#arrow1{
	position: absolute;
	left: 8.5%;
	width: 10.5vh;
	height: 10vh;
	top: 90%;
	background-image: url(../Logos/fleche-orange.svg);
	background-size: contain;
	background-repeat: no-repeat;
}

/*
	Page d'intro
*/


#introduction{
	background: -webkit-linear-gradient(left bottom, #3737,#373763); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(left bottom, #3737,#373763); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left bottom, #3737,#373763);
	background: linear-gradient(left bottom, #3737,#373763); /* Standard syntax (must be last) */
}

.intro{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#logoIntro{
	width: 8vh;
	padding-top: 4vh;
}

#titreIntro{
	color: #EBD5B8;
	font-family: "Lato_Black";
	font-size: 3.8vh;
	text-align: center;
	padding-top: 1vh;
}

#barre_separation_intro{
	width: 12vw;
	height: 0.8vh;
	background-color: #EBD5B8;
}
.pageIntro{
	height:80%;
}

.texteIntro{
	position:relative;
	color: white;
	font-family: 'Lato_Regular';
	text-align: center;
	font-size: 1.4vw;
	width:60%;
	left:20%;
}

.texteIntroSuite{
	position:relative;
	color: white;
	font-family: 'Lato_Regular';
	text-align: center;
	width:60%;
	left:20%;
	font-size: 1.4vw;
}

.definition{
	color: #EBD5B8;
	font-weight: bold;
}

.definition: mouseover{
}


#arrow2{
	position:relative;
	width: 10%;
	height: 10%;
	margin-top: 0%;
	background-image: url(../Logos/fleche-beigeclair.svg);
	background-size: contain;
	background-repeat: no-repeat;
}


/*
	Datavizs
*/

.barreHaut{
	background: -webkit-linear-gradient(left, #373763,#5D5DA5); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(left, #373763,#5D5DA5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left, #373763,#5D5DA5);
	background: linear-gradient(left, #373763,#5D5DA5); /* Standard syntax (must be last) */
	width: 100%;
	height: 1.1vh;
}

.barreBleue{
	width: 105vw;
	height: auto;
	margin: 0vh;
	padding: 0vh;
}

.map{
	position: relative;
	top: 2%;
	background-color: rgba(255, 0, 0, 0.5);
	width:0%;
	max-width:50%;
}

.texteDataviz{
	margin-left: 15%;
	margin-right: 15%;
	padding-top: 1%;
	width: 70%;
	height: 25%;
	max-height:25%;
	text-align: center;
	position : relative;
}

.titre{
	font-family: 'Lato_Black';
	font-size: 3vh;
	margin-top: 0vh;
	margin-bottom: 0vh;
	color: #545454;
}

.titrePlusPetit{
	font-size: 3vh;
}

.commentaireDataviz{
	margin-top: 2vh;
	margin-bottom: 0vh;
	font-family: 'Lato_Regular';
	font-size: 2.5vh;
	color: #939393;
	line-height: 3vh;
}

/*FOOOTER*/
#conclu{
	margin-top: 2vh;
	margin-bottom: 0vh;
	font-family: 'Lato_Regular';
	font-size: 2vh;
	color: #939393;
	line-height: 3.5vh;
}

#sources{
	text-align: right;
	font-family: 'Lato_Regular';
	font-size: 2.5vh;
	padding-top: 1.5vh;
	color: #939393;
}

.italique{
	font-style: italic;
}


/*
	Barre de navigation
*/

.barreNav{
	background: -webkit-linear-gradient(top, #373763,#5D5DA5); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(top, #373763,#5D5DA5); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(top, #373763,#5D5DA5);
	background: linear-gradient(top, #373763,#5D5DA5); /* Standard syntax (must be last) */
	position: absolute;
	height: 96.5%;
	width: 2.3%;
}

.nav {
	position: absolute;
	font-family: 'Lato_Bold';
	width: 10%;
	margin-left: 5%;
	max-height:30%;
}

.logoNav{
	width: 35%;
}

.nav-dataviz p{
	font-size: 2vh;
	color: #7e7e7e;
	margin-top: 0.5%;
	margin-bottom: 0.7%;
	margin-left: 13%;
}

.nav-dataviz p :hover{
	color: black;
}

.nav-en-cours{
	background-repeat: no-repeat;
	background-color: #5D5DA5;
}

.nav-en-cours p{
	font-size: 2vh;
	margin-top: 0.5%;
	margin-bottom: 0.7%;
	margin-left: 13%;
}


.lien-nav{
	text-decoration: none;
	color: #696969;
}

.lien-nav-en-cours{
	text-decoration: none;
	color: white;
}

.nav-intro{
	color: black;
}

.estelle-robin{
	font-family: 'Lato_Thin';
}

/*
	Lien vers le footer
*/

a{
	text-decoration: none;
}

.lienFooter{
	position: absolute;
	right:2%;
	max-width:15%;
	font-family: 'Lato_Thin';
	font-size: 1.9vh;
	color: #5D5DA5;
}

#lienFooter1{
	top: 205vh;
}

#lienFooter2{
	top: 305vh;
}

#lienFooter3{
	top: 405vh;
}

#lienFooter4{
	top: 505vh;
}

#lienFooter5{
	top: 605vh;
}

/*
	Flèches de navigation dans les datavizs
*/

.flechesDataviz{
	background-image: url(../Logos/fleches-scroll.svg);
	background-size: contain;
	background-repeat: no-repeat;
	height: 20vh;
	width: 1.5%;
	position: fixed;
	right: 10.5vh;
}

#flecheDataviz1{
	top: 280vh;
}

#flecheDataviz2{
	top: 380vh;
}

#flecheDataviz3{
	top: 480vh;
}

#flecheDataviz4{
	top: 580vh;
}

.lienFlecheHautDataviz{
	position: relative;
	width: 100%;
	height: 10vh;
	margin: 0;
}

.lienFlecheBasDataviz{
	position: relative;
	width: 100%;
	height: 10vh;
	margin: 0;
}

/*
	Interview
*/

.video{
	position: relative;
	left: 2.5%;
	top: 2%;
}

/*
	Footer
*/

#navFooter{
	max-height: 50%;
}

.reseauxSociaux{
	margin-left: 1.2vw;
	margin-top: 3vh;
}

.reseauxSociaux p{
	margin: 0;
	display: inline-block;
}

#fb{
	width: 1.5vh;
}

#twit{
	width: 3.1vh;
	margin-left: 1vw;
}

#flecheFooter{
	background-image: url("../Logos/fleche-scroll-footer.svg");
	background-size: contain;
	background-repeat: no-repeat;
	height: 10vh;
	width: 0.92vw;
	margin: 0;
	position : absolute;
	top: 605vh;
	right: 3vw;
}

.autresPartenaires{
	position: absolute;
	bottom: 1vh;
}

.autrePartenaire{
	display: inline-block;
}

.conclu{
	margin-left: 20vw;
	margin-right: 20vw;
	width: 60vw;
	text-align: center;
	position : relative;
	top: 5vh;
}

.logos{
	background: -webkit-linear-gradient(left bottom, #19182D,#373763); /* For Safari 5.1 to 6.0 */
  	background: -o-linear-gradient(left bottom, #19182D,#373763); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(left bottom, #19182D,#373763);
	background: linear-gradient(left bottom, #19182D,#373763); /* Standard syntax (must be last) */
	width: 100vw;
	height: 70vh;
	margin-top: 13vh;
}

.logos_ecoles{
	width: 100%;
	padding-top: 12vh;
}

.logos_fin{
	width: 100%;
	height: auto;
}

.divs_logos{
	width: 8.5vw;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

.divs_logos p{
	color: white;
	font-size: 0.8vw;
	text-align: center;
	line-height: 3vh;
}

.conteneur_logo{
	width: 100%;
	height: auto;
	margin: 0;
}

#conteneurFEB{
	width: 74%;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

#feb{
	width: 8vw;
	padding-left: 15vw;
	padding-top: 0vh;
}

.autres_logos_ecoles{
	padding-left: 10.4vw;
}

#sciencescom{
	padding-top: 0vh;
}

#agr{
	padding-top: 0vh;
}

#p_agr{
	width: 5.4vw;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#popo{
	padding-top: 2vh;
}

#nos_noms{
	padding-top: 1vh;
}

#ateliersHyblab{
	color: #DBA774;
	font-family: 'Lato_Regular';
	font-size: 2vh;
	position: relative;
	margin-bottom:-5%;
	margin-top: 5%;
}

#ateliersHyblab a{
	text-decoration: none;
	color: #EBD5B8;
}

#barreFooter{
	width: 100%;
	height: 1%;
	position:relative;
	margin-top: 5%;
}

#autres_logos{
	margin-top: 0%;
	width: 100%;
	height: 10%;
}


#hyblab{
	width: 8vw;
	padding-top: 1vh;
	padding-left: 5vw;
	width: 7vw;
}

.autres_logos_partenaires{
	padding-top: 1vh;
	padding-left: 2.12vw;
}

#univ-nantes{
	width: 5.1vw;
}

#pdll{
	width: 10vw;
}

#ouestmedia
{
	width: 9vw;
}

#nantes{
	width: 9vw;
}

#audiens{
	padding-top: 1.5vh;
	width: 9.8vw;
}

#ciclic{
	width: 8.6vw;
}

#openSource{
	width: 2.6vw;
}

#scam{
	width: 9.5vw;
}

#french-map1{
	background-color: rgba(255, 0, 0, 0);
}

#french-map2{
	background-color: rgba(255, 0, 0, 0);
}
#french-map3{
	background-color: rgba(255, 0, 0, 0);
}


.echelle1{
	position: relative;
	top: 2%;
	left: 2%;
	width: 50%;
}
#im_ech1{
	width:100%;
	height:100%;
}
#im_ech3{
	width:100%;
	height:100%;
}
.echelle2{
	position: relative;
	top: 0%;
	left: 15%;
	width: 70%;
	height:8%;
}
#im_ech2{
	width:100%;
	height:100%;
}
