#interview-page {
  position: relative;
  width: 100%;
}
#interview-page #interview {
  /*
        position: absolute;
        top: 0;
        left: 0;
        */
  width: 80%;
  height: 100%;
}
#interview-page #interview .text-area {
  position: relative;
  font-weight: normal;
  font-size: 11px;
}
@media all and (min-height: 769px) {
  #interview-page #interview .text-area {
    font-size: 12px;
  }
}
#interview-page #interview .right-area {
  display: inline-block;
  padding: 10px;
  float: right;
  width: 30%;
}
#interview-page #interview .content-area {
  display: inline-block;
  float: left;
  padding: 1%;
  width: 48%;
  text-align: justify;
}
#interview-page #interview .left-area {
  padding: 10px;
  float: left;
  width: 30%;
}
#interview-page #interview .left-area h5 {
  font-weight: 900;
}
#interview-page #interview .left-area ul {
  list-style-type: none;
}
#interview-page #interview .left-area ul li {
  margin: 20px 0;
}
#interview-page #interview .sidebar h1 {
  font-size: 14px;
}
#interview-page #interview .sidebar .content {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  font-weight: normal;
}
#interview-page #interview .sidebar .content .item {
  text-align: justify;
  position: relative;
  padding-left: 50%;
  padding-bottom: 10%;
  padding-top: 10%;
  font-size: 10px;
}
#interview-page #interview .sidebar .content .item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}
#interview-page #interview .sidebar .content .item:nth-child(1)::before {
  background: url('/media/pic/infographie1.svg') no-repeat top;
}
#interview-page #interview .sidebar .content .item:nth-child(2)::before {
  background: url('/media/pic/infographie2.svg') no-repeat top;
}
#interview-page #interview .sidebar .content .item:nth-child(3)::before {
  background: url('/media/pic/infographie3.svg') no-repeat top;
  top: 10%;
}
#interview-page #interview .sidebar .content .item:nth-child(4)::before {
  background: url('/media/pic/infographie4.svg') no-repeat top;
}
#interview-page #interview .sidebar .content .item:nth-child(5)::before {
  background: url('/media/pic/infographie5.svg') no-repeat top;
}
