body {
  background: darkslateblue;
}
/*
path {
  stroke-width: 1px;
  stroke: white;
  fill: steelblue;
  cursor: pointer;
}
*/
svg {
  border: 2px solid grey;
}
.background {
  fill: none;
  pointer-events: all;
}
path.active {
  stroke: white;
  stroke-width: 5px;
}
path.hover {
  stroke: white;
  stroke-width: 2px;
}
