.dataTooltip {
	position: absolute;
	visibility: hidden;
	z-index: 1000;
	background: rgba(0,0,0, 0.3);
	border-radius: 5px;
	padding: 3px;
}




/* slide 2 */
#slide2 {
    padding: 0;
    background-color: red;
}


#slide2 .container { 
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
}

#slide2 article {
    
}

#slide2 aside {
    
}

#slide2 aside img {
    height: 50%;
    width: 50%;
}

.contenu {
    height: 80.6%;
    background: url(../img/slide_2_background.png) left top no-repeat;
}

.flecheTransition {
    height: 19.4%;
    background-color: white;
}



.green {
    color: #87e7a0;
}

section footer h1 {
    font: 20px / 29px Museo;
}

section footer h2 {
    font: 400 18px / 29px Arial;
}








/* fin --- */




.trucOrange {
    color: #fdbe63;
    font: 18px / 74.681px MuseoSlab;
}

/* "tout seul" */
.pozeod {
    color: #fdbe63;
    font: 18px Museo;
}





/*
    Partie Diagramme de Joseph
*/

#totalJoseph p {
    color: #666666;
    font: 300 60px / 99.667px FuturaPT;
    font-size: 60px;
}


.baliseJauge {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    height: 160px;
    width: 100px;
}

.radioJoseph {  
    display: none;  /* faire disparaître les puces inutiles */
}

.labelRadioJoseph {
    display: inline-block;
    width: 60px;
    height: 60px;
    cursor: pointer;
    margin-left: 3px;
    margin-right: 3px;
}

/* radio printemps */
#labelJoseph_printemps {
    background: url(../img/diagrammes/joseph/printemps.png) left top no-repeat;
}

#labelJoseph_printemps:hover {  
    background: url(../img/diagrammes/joseph/printemps_hover.png) left top no-repeat;
}

#radioJoseph_printemps:checked + .labelRadioJoseph {
    background: url(../img/diagrammes/joseph/printemps_checked.png) left top no-repeat;
}

/* radio été */
#labelJoseph_ete {
    background: url(../img/diagrammes/joseph/ete.png) left top no-repeat;
}

#labelJoseph_ete:hover {  
    background: url(../img/diagrammes/joseph/ete_hover.png) top no-repeat;
}

#radioJoseph_ete:checked + .labelRadioJoseph {
    background: url(../img/diagrammes/joseph/ete_checked.png) left top no-repeat;
}

/* radio automne */
#labelJoseph_automne {
    background: url(../img/diagrammes/joseph/automne.png) left top no-repeat;
}

#labelJoseph_automne:hover {  
    background: url(../img/diagrammes/joseph/automne_hover.png) left top no-repeat;
}

#radioJoseph_automne:checked + .labelRadioJoseph {
    background: url(../img/diagrammes/joseph/automne_checked.png) left top no-repeat;
}

/* radio hiver */
#labelJoseph_hiver {
    background: url(../img/diagrammes/joseph/hiver.png) left top no-repeat;
}

#labelJoseph_hiver:hover {  
    background: url(../img/diagrammes/joseph/hiver_hover.png) left top no-repeat;
}

#radioJoseph_hiver:checked + .labelRadioJoseph {
    background: url(../img/diagrammes/joseph/hiver_checked.png) left top no-repeat;
}

/* radio total */
#labelJoseph_total {
    background: url(../img/diagrammes/joseph/total.png) left top no-repeat;
}

#labelJoseph_total:hover {  
    background: url(../img/diagrammes/joseph/total_hover.png) left top no-repeat;
}

#radioJoseph_total:checked + .labelRadioJoseph {
    background: url(../img/diagrammes/joseph/total_checked.png) left top no-repeat;
}


