.dataTooltip {
	position: absolute;
	visibility: hidden;
	z-index: 1000;
	background: rgba(0,0,0, 0.3);
	border-radius: 5px;
	padding: 3px;
}



.baliseJauge {
    display: inline-block;
    margin-left: 3px;
    margin-right: 3px;
    
    height: 180px;
    width: 100px;
}


