/* just a sample css rule to show that everything works */
footer p {
  font-size: small;
}



.baliseJauge {
    display: inline;
    width: 19%;
}

.baliseJauge svg {
    
}

.baliseJauge img {
    
}

