#slide5 {
	height: 100vh;
	background-color: #90D7DF;
	color: #4c4c4c;	
	
}

#slide5 #absSlide5 {
	position: absolute;
	margin-top: 1%;
	text-align: center;
}

#slide5 #badge {
	color: white;
	font-size: 16px;
	border: 1px solid white;
	border-radius: 6px;
	padding: 5px;
	width: 128px;
	text-align: center;
}

#slide5 h2 {
	color: white;
	font-family: museoReg;
	font-size: 33px;
	letter-spacing: 3px;
	text-align: center;
}

#slide5 #caption {
	font-family: "arial";
	font-size: 14px;
	text-align: justify;
	width: 45%;
	margin-left: 5%;
}

#slide5 #treemap {
	width: 45%;
	display: inline-block;
}

#slide5 #treemap_legend {
	width: 30%;
	display: inline-block;
	margin-left: 5%;
}
/*
.legend_bullet {
	display: inline-block;
}
*/
#treemap .grandparent:hover rect {
  fill: darkgrey;
}

#treemap .children rect.parent,
.grandparent rect {
  cursor: pointer;
}

#treemap .children:hover rect.child {
  opacity: 1;
  stroke-width: 1px;
}

#treemap .children:hover rect.parent {
  opacity: 0;
}