#slide5 {
	height: 100vh;
	background-color: #90D7DF;
}

#slide5 #badge {
	color: white;
	font-size: 16px;
	border: 1px solid white;
	border-radius: 6px;
	position: absolute;
	padding: 5px;
	width: 128px; 
	margin-left: 45%;
	margin-top: 1%;
}

#slide5 h2 {
	color: white;
	margin-bottom: 20px;
	font-family: museoReg;
	font-size: 40px;
}

#slide5 #caption {
	color: black;
	font-size: 14px;
	text-align: justify;
	width: 45%;
	margin-left: 5%;
}

/*
.legend_bullet {
	display: inline-block;
}
*/

#treemap .grandparent:hover rect {
  fill: darkgrey;
}

#treemap .children rect.parent,
.grandparent rect {
  cursor: pointer;
}

#treemap .children:hover rect.child {
  opacity: 1;
  stroke-width: 1px;
}

#treemap .children:hover rect.parent {
  opacity: 0;
}