#podcasts {
	position:absolute;
	height:30px;
	width:10%;
	margin-left:46%;
	margin-top:2.5%;
}

#img_podcasts {
	width:30%;
	height:100%;
}

#ecran_bulles {
	height:800px;
	background-image:url(../img/screenData.svg);
	background-repeat:no-repeat;
	background-position-x: center;
    background-position-y: center;
}

#ecran_video {
	height:100%;
	background-image:url(../img/screenYoutube.svg);
	background-repeat:no-repeat;
	background-position-x: center;
    background-position-y: center;
}

#bubulles {
	position:absolute;
	width:760px;
	height:420px;
	margin-top:97px;
	margin-left:93px;
}*

#video {
    position: relative;
    width: 39%;
    height: 33%;
    left: 48.8%;
    top: 35.8%;
    margin: 0;
    transform: translate(-50%,-50%);
}

#infos {
	position:absolute;
	width:43%;
	height:62%;
	margin-left:55%;
	margin-top:20%;
	border:solid #D0AA6D 1px;
	font-size:68%;
	font-family:futura;
}

#contenu {
	position:absolute;
	width:31%;
	margin-top:15%;
	margin-left:10%;
	text-align:center;
}

#titre {
	font-size:200%;
	font-weight:bold;
	color:B17E49;
}

#fonds_leves {
	font-size:200%;
	color:B17E49;
}