#ecran_bulles {
	height:100%;
	width:57.5%;
	margin-left:21.5%;
	margin-top:0%;
	background-image:url(../img/screenData.svg);
	background-repeat:no-repeat;
	background-size:100% auto;
}

#ecran_video {
	height:100%;
	margin-top:0%;
	background-image:url(../img/screenYoutube.svg);
	background-repeat:no-repeat;
	background-position-x: center;
    background-position-y: center;
}

#bubulles {
	position:relative;
	width:88.5%;
	height:52%;
	margin-top:8%;
	margin-left:4.2%;
	display:inline-block;
}

#video {
    position: relative;
    width: 39%;
    height: 33%;
    left: 48.8%;
    top: 35.8%;
    margin: 0;
    transform: translate(-50%,-50%);
}

#infos {
	position:absolute;
	width:43%;
	height:62%;
	margin-left:55%;
	margin-top:20%;
	border:solid #D0AA6D 1px;
	font-size:0.73vw;
	font-family:futura;
}

#contenu {
	position:absolute;
	width:31%;
	margin-top:20%;
	margin-left:10%;
	font-size:1.2vw;
	text-align:center;
}

#titre {
	font-size:200%;
	font-weight:bold;
	color:B17E49;
}

#fonds_leves {
	font-size:200%;
	color:B17E49;
}