* {
	font-family: arial;
}

#fullpage {
	width: 972px;
	margin: auto;
}

#firstPage {
	background-image: url(../img/slide1_background.png);
	background-repeat: repeat;
	background-attachment: fixed;
}


#titleText {
	position: absolute;
	padding-top: 205px;
	padding-left: 300px;

	color: #D0AA6D;
	font-family: "Arial";
	font-size: 26px;
}

#titleZone {
	text-align: center;
	width: 100%;
}

#jde {
	position: absolute left-side;
	margin-left: 50px;
	width: 150px;
}

#introduction {
	background-image: url(../img/slide_2.svg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

#sectors{
	background-image: url(../img/fond_slide_5.svg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;
}

#definition {
	background-image: url(../img/slide_3.svg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: -500px center;
}

#infosContainer {
	width: 100%;
	height: 100%;
}

#CIP {
	width: 100px;
	height: 100px;
	margin-left: 8%;
	margin-top: 5%;
}

.bulleInfo {
	width: 25%;
	height: 7%;

	background-color: white;

	border-style: solid;
    border-width: 4px;
	border-color: #002846;

	text-align: center;

	padding-top: 1%;

	font-family: arial;
	font-weight: bold;

	font-size: 1.5vw;
}

#bulleInfo1 {
	margin-left: 45%;
	margin-top: -4%;
}

#bulleInfo2 {
	margin-left: 64%;
	margin-top: 2%;
}

#retour {
	margin-left: 80%;
	margin-right: 20%;
	margin-bottom: 15%;
	padding-top: 0%;

	width: 7%;
	height: 5%;
}

#titleText p {
	font-weight: bold;
}

#presentation {
	background-image: url(../img/slide_4.svg);
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: center center;

	width: 100%;
	height: 100%;

}

#boardZone {
	width: 276px;
	height: 660px;

	background-image: url(../img/board.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 0% 0%;

	margin-top: 0%;
	margin-left: 10%;

}

#filterSelector {
	height: 2%;
	display: none;

	padding-top: 30px;
	padding-left: 43px;

	color: white;
	font-family: arial;
	font-size: 14px;
}

#chartZone {
	width: 100%;
	height: 100%;

	margin: 0%;
	margin-left: 1.5%;
}

.chart {
	display: none;
}

#platform {
	width: 90%;
	height: 100%;
	padding-top: 30px;
	padding-left: 5%;
	padding-bottom: 0px;
}

.chart text {
  font: 20px sans-serif;
  text-anchor: begin;
}

#top10 {
	background-image: url(../img/slide_6.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: 0% 0%;
}

#ending {
	background-image: url(../img/slide_7.svg);
	background-size:  auto 600px;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: rgb(0, 25, 40);
}

#CIP_Definition strong{
	font-size: 24px;
}

#RedInCIP {
	color: red;
}

#top10 {
	background-size: auto 762px;
	background-position: center center;
}

#Guy {
	position: absolute;
	width: 400px;
	height: 600px;

	margin-left: 200px;
	margin-top: 100px;
}
