.selection{
	height:5%;
	width:70%;
	padding-left:12%;
	padding-top:16.5%;
}

.animated-ring{
	padding-left:14.5%;
}

.title{
	padding-top:1%;
}

#title1{
	display:inline;
	padding-left:22%;
}

#title2{
	display:inline;
	padding-left:20%;
}

#animated-ring{
	padding-left:1%;
	height:40%;
	width:25%;
}

#animated-ring2{
	padding-left:5%;
	height:40%;
	width:25%;
}
