#credit-page.section
    #credit
        #top
            p Le projet <span> Hyblab </span> est un projet de <span> datajournalisme </span> mettant en action différents étudiants de Sciences Com, Polytech et de l’AGR, école de l’image.
            p Pour ce projet, <span id="big"> Presse Océan </span> s’est entouré des personnes suivantes :

        #middle
            #jour
                img.ico(src= "media/pic/SC-journalisme.svg")
                h1.credit JOURNALISME
                h2.credit Sciences.com
                p.credit Kévin-Charles DELATTRE
                p.credit Anne-Laure FÉVRIER
            #poly
                img.ico(src= "media/pic/P-developpement.svg")
                h1.credit ANALYSE DES DONNÉES DÉVELOPPEMENT WEB
                h2.credit Polytech
                p.credit Kévin COEPEAU
                p.credit Vincent BONNEVALLE
                p.credit Alexis BITAILLOU
            #agr
                img.ico(src= "media/pic/AGR-graphisme.svg")
                h1.credit GRAPHISME
                h2.credit AGR école de l’image
                p.credit Baptiste RENAUD
                p.credit Margot COUET


