#interview-page.section.restrained
    +header("secondaires", "Papy boomers et tourisme fiscal dopent le résidentiel secondaire","")
    #interview
        .content-area
            p.text-area: strong Entre 2006 et 2011, à Nantes, le nombre de résidences secondaires a augmenté de 65 %. Un bond étonnant qui mérite un focus.
            p.text-area En cinq ans, Nantes est passée de 2 850 à 4 710 logements secondaires ou occasionnels* en même temps qu'elle gagnait 9 950 logements au total. Pour Loïc Cantin, président de la FNAIM, l'explication est évidente : il s'agit d’exil fiscal. Des contribuables domiciliés à Nantes décideraient, en effet, d’investir à l’étranger, faisant donc passer leur résidence principale nantaise en résidence secondaire. « C’est un vrai phénomène d’évasion fiscale qu’on a du mal à mesurer », explique Loïc Cantin. « En 2014, en France, 40 000 ménages auraient émigré vers le Portugal. On estime qu’il pourrait y en avoir environ 400 en Loire Atlantique, et tout cela à cause d’avantages fiscaux très intéressants ».
            p.text-area Le principal avantage, le voici. Prenons l’exemple d’un Français qui achèterait un appartement au Portugal. S’il occupe cet appartement pendant 6 mois et 1 jour, il se verrait exonéré d’impôts pendant… 10 ans ! Une aubaine fiscale, donc, qui ne semble pas échapper aux Français et, dans ce cas précis, aux Nantais. « Ce phénomène existe depuis un moment, mais les politiques ne veulent pas s’en occuper. On est face à un fléau qu’on laisse progresser, les bras croisés », explique Loïc Cantin.
            p.text-area: strong Se loger pour travailler
            p.text-area Autre facteur important, qui justifierait cette augmentation remarquable des résidences secondaires à Nantes : l’évolution des conditions de travail.
        .content-area
            p.text-area C’est Patrick Pailloux, directeur d’étude et de développement à l’AURAN, qui évoque ce phénomène : « les lieux de travail sont aujourd’hui souvent séparés de la résidence principale », explique-t-il. « Par exemple, une famille qui réside à Poitiers à l’année. Un des parents peut être amené à travailler à Nantes. Si c’est le cas, cette personne devra louer un logement dit « occasionnel » ». Les logements occasionnels sont compris dans les résidences secondaires, posant d’ailleurs un problème de comptabilisation des véritables résidences secondaires aux dires du directeur lui-même.
            p.text-area Loïc Cantin et Patrick Pailloux se rejoignent sur un point : les papy boomers arrivent sur le marché. Beaucoup de retraités, très nombreux, achètent par exemple un logement sur la côte et font passer leur maison nantaise en résidence secondaire. Ce qui leur permet souvent, au passage, de payer moins d’impôts. Les retraités semblent donc un élément important de cette transformation du paysage urbain nantais, sur le plan des résidences secondaires.
            br
            p.text-area.light *Typologie : Les données de l'Insee, issues des déclarations de la population lors du recensement, a le désavantage de confondre dans une seule et même colonne logements secondaires et occasionnels. Mais il n’existe pas d’autre type de comptage pour mesurer l’état du résidentiel secondaire dans les villes...

        .sidebar
            h1 Le tourisme fiscal comment ça marche ?
            h2 Exemple au portugal
            .content
                .item Résidence principale sur le territoire fraçais
                .item
                .item Résidence secodaire au Portugal pendant 6 mois et 1 jour
                .item
                    strike Résidence secondaire
                    br
                    | Résidence principale
                .item Exonération d'impôts sur le revenu au Portugal pendant 10 ans
