#intro.section.container-fluid
    .col-md-offset-3.col-md-6.col-sm-offset-3.col-sm-7.col-xs-offset-1.col-xs-10
        .title-area
            h1 Enquête sur le logement à Nantes
            .clearfix
            h2 un paysage urbain en mutation
        p.text-area Le visage des quartiers de Nantes a changé. Avec ses 270 343 habitants, la cité des ducs est la 6ème ville la plus peuplée de France. Mais ces dix dernières années, la loi SRU et les politiques de l’habitat ont fortement remanié son paysage urbain dans certains quartiers, avec la construction de logements. A quoi ressemble cette transformation ? La nature de ces logements a-t-elle évolué entre 2006 et 2012 ? En dépit des efforts politiques pour tenter de rééquilibrer les écarts, des disparités subsistent. Les cartes interactives qui suivent dessinent plusieurs tendances. On y observe d’abord la croissance des logements par quartiers, puis le déplacement géographique des logements locatifs d’un quartier à l’autre, qui en dit long aussi sur l’accession à la propriété. Un dernier chiffre interpelle : celui des résidences secondaires et des logements occasionnels. Selon l’INSEE, il a augmenté de 64 % entre 2007 et 2012, révélant de nouvelles façons pour sa population « d’habiter » Nantes. Les jeunes retraités qui rejoignent le littoral ou « nouveaux pauvres » ayant opté pour le « tourisme fiscal » au Portugal pour payer moins d’impôts sont deux éléments qui permettent de mieux comprendre notre dernière carte.

    .next-page
