#map2-intro.section.restrained
    h1 Logements locatifs
    h2 Disparités entre nord et sud
    p Les secteurs qui ont gagné le plus de logements locatifs  sont iIe de nantes (+20%)  Breil Barberie (+15%) et Nantes Nord (+15%). A titre d’exemple Nantes nord a gagné 1140 logements locatifs sur 5 ans et l’Ile de Nantes 1160.
    p Ile de Nantes passe en 2006 de 5911 logements locatifs à 7071 et Brel 5454 en 2006 pour 2011 6272. Ce sont aussi ces quartiers qui évoluent le plus en terme de logements sociaux. L’Ile de Nantes gagne +15% de logements sociaux et Brel +21%.
    p Cependant les Dervallières et Bellevue, qui abritaient les plus de HLM à Nantes ont perdu respectivement 12% et 8 % de ce logements sociaux.
    p Pourquoi une telle augmentation sur l’Ile de Nantes et Breil, en terme de logement sociaux ? Tout dépend des possibilités foncières selon Patrick Pailloux « des quartiers comme Brel et il’Ie de Nantes ont la place d’accueillir de nouvelles constructions ». Et les ZAC ont été dessinées dans cet esprit de rééquilibrage.
    p Ces chiffres démontrent néanmoins que le rééquilibrages des quartiers de Nantes en termes de logements sociaux, voulus par élus, n’est pas si facile à réaliser concrètement. S’il passe indéniablement par le nouveau quartier de l’Ile de Nantes, il reste aussi principalement confiné au nord de la ville. Ces chiffres tendraient à revenir à l’avenir vers le centre-ville avec la ZAC Mellinet en gestation à deux pas de la gare.

    .next-page
