html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

p {
  margin: 0;
}

#map {
  width: 100%;
  height: 100%;
}

/*#map > canvas {
  width : 500px;
  height : 500px;
}*/

.control {
  position: absolute;
  left: 0;
  z-index: 1000;
}

.control.tilt {
  top: 0;
}

.control.rotation {
  top: 45px;
}

.control.zoom {
  top: 90px;
}

.control.legende{
  margin: 0 0 15px 15px;
  bottom: 0;
  border: 1px solid #999999;
  background: #ffffff;
  opacity: 0.6;
  border-radius: 5px;
  box-shadow: 0 0 5px #666666;
  font-weight: bold;
}

.legende-item{
  display: inline-block;
  margin: 10px;
}

.legende-img {
  display: inline-block;
}

.legende-img > img {
  width: 20px;
  height: 20px;
  margin: 0 5px 0 5px;
  vertical-align: middle;
}


.control.zoom button{
  font-weight: normal;
}

.control button {
  width: 30px;
  height: 30px;
  margin: 15px 0 0 15px;
  border: 1px solid #999999;
  background: #ffffff;
  opacity: 0.6;
  border-radius: 5px;
  box-shadow: 0 0 5px #666666;
  font-weight: bold;
  text-align: center;
}

.control button:hover {
  opacity: 1;
  cursor: pointer;
}

