extends layout

append stylesheets
    link(rel='stylesheet', href='/stylesheets/map.css')

append js
    script(src="//d3js.org/queue.v1.min.js")
    script(src='/js/map.js')

block content
    button#random random
