@font-face {
    font-family: title;
    src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
    font-family: text;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

* {
    font-family: text;
}

h1 {
    font-family: title;
}

body {
    margin: 0;
}
#map, #rope, #map2 {
    overflow: hidden;
    height: 100vh;
}


#map {
    background-color: #8DD8F8;
}


#rope {
    position: relative;
}

#last_page {
    background-color: #0077A3;
    color: white;
}

iframe {
    width: 100%;
    height: 10vh;
}

.leaflet-map-pane {
    z-index: 3;
}
.leaflet-popup-pane {
    pointer-events: none;
}


.next-slide {
    display: block;
    position: absolute;
    bottom: 2%;
    width: 40px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    z-index: 1000;
}

/* ------------- First Page ----------- */

#first_page .fp-tableCell {
    vertical-align: bottom;
    background-image: url("../image/Preston-01.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

#first_page h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 80;
}

#first_page p {
    text-align: justify;
    padding: 0px 10%;
    margin-bottom: 5%;
}

/*===========Overlay==============*/
#overlay {
    z-index: 2;
    background-color: #000;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
.show {
    display: block !important;
}
/*========search bar==============*/
.searchbar {
    z-index: 3;
    position: absolute;
    top: 10px;
    left: 36%;
}
#searchbox {
    border: 1px solid #CCC;
    -webkit-box-shadow: 0 1px 1px #ddd inset;
    -moz-box-shadow: 0 1px 1px #ddd inset;
    box-shadow: 0 1px 1px #ddd inset;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #999;
    font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
    height: 20px;
    padding: 10px;
    width: 310px;
    opacity: 1;
}
@media (max-width: 1024px) {
    .searchbar {
        position: absolute;
        left: 2%;
    }
}
/*==========Info Panel============*/
.svg-btn {
   margin: 0 3px;
}
input[type="checkbox"] {
    display: none;
    width: 100px;
    height: 100px;
}
.info {
    z-index: 3;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    width: 330px;
    float: left;
}
.info h4 {
    margin: 0 5px 10px 0;
    color: #777;
    float: left;
    clear: right;
}
.info h5 {
    margin: 0 5px 10px 0;
    color: #777;
    float: left;
}

.row {
    clear: both;
    margin: 8px 0;
}

.sliderset {
    width: 320px;
}

.sliderset label {
    color: #777;
}

.sliderset input {
    float: right;
    width: 200px;
}
/*=====bar chart css=====*/
#chartContainer {
    z-index: 3;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.chartDescriptor h4{
    color: #777;
}
.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    display: none;
}
.x-axis-label {
    stroke-width: 10;
}
@media (max-height: 530px) {

}
/*=========legend==========*/
.legendContainer {
    z-index: 3;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    display: table;
    width: 50px;
}
.legend {
    width: 50px;
    height: 200px;
    background: linear-gradient(red, yellow, greenyellow);
    opacity: 0.7;
    display: table;
    margin: 0 auto;
}
.legend-label {
    text-align: center;
}
/*=========slider==========*/


/*========================*/
.red {

}

.orange {

}

.yellow {

}

.green {

}

.blue {

}

.indigo {

}

.purple {

}

/* ------------ Rope chart ------------- */

#rope {
    background-color: #57C2F3;
    color: white;
}

#rope_left, #rope_right {
    display: inline-block;
    width: 48%;
    height: 100%;
    vertical-align: top;
}

#rope_left {
    width: 40%;
}

#rope_text img {
    display: block;
    margin: auto;
    width: 50%;
}

#rope_text h1 {
    text-align: center;
}

#rope_text p {
    text-align: justify;
    padding: 0 5%;
    margin: auto;
}

#rope_right {
    width: 59%;
}

#rope_selectors div {
    display: inline-block;
    width: 49%;
}

#left_postcode_rope {
    display: inline-block;
    margin-left: auto;
    margin-right: 0px;
}

#charts {
    margin-top: 5%;
    height: 600px;
}

.chart {
    width: 49%;
    height: 100%;
    display: inline-block;
}

.chart div {
    background-color: white;
    height: 5%;
    margin-bottom: 9%;
    transition: width 0.5s;
}

.chart div:first-child {
    margin-top: 9%;
}

#chart_left div {
    margin-left: auto;
    margin-right: 0;
}

#chart_right div {
}

.vertical_line {
    display: inline-block;
    width: 1px;
    height: 100%;
    background-color: white;
}

#chart_imgs {
    display: inline-block;
    position: relative;
    z-index: 15;
    width: 1px;
    height: 100%;
    vertical-align: top;
    padding-top: 25px;
    left: -27px;
    top: -2px;
}

#chart_imgs img {
    display: inline-block;
    height: 50px;
    position: relative;
    margin-bottom: 8px;
}

/*--------page3-----------*/
#title {
    height: 40vh; 
    width: 60%; 
    background-color: #00BFFF; 
    float:left;
}

#page3 h1{
    text-transform: uppercase;
    text-align: center;
    font-size: 80;
    /*font-family: title;*/
}

#page3 p{
    text-align: justify;
    padding: 0px 10%;
    /*font-family: text;*/
}

#cadre {
    background-color: #00BFFF;
}

#map2 {
    background-color: #00BFFF;
    height: 60vh;
    width: 60%; 
}

/* -------- last page --------- */

#credits div {
    display: inline-block;
    width: 9%;
    text-align: center;
    margin: 0 auto;
}

#credits {
    text-align: center;
}

#credits h1 {
    font-size: 15;
}

#credits p {
    font-size: 9;
}

#last_page p {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}

#last_page p:first-child {
    position: absolute;
    top: 0px;
}

#center {
    margin-top: 5%;
    margin-bottom: 5%;
}

#external_links a {
    display: block;
    text-align: center;
}

#sponsors {
    position: absolute;
    bottom: 30px;
    text-align: center;
    width: 100%;
}

#sponsors img {
    display: inline-block;
    height: 40px;
}
