#infodpt {
	visibility: hidden;
	width:150px;
	height:200px;
	margin-top: 0px;
	margin-left: 5px;
	border:hidden;
	font-weight: bold;	
	display:inline-block;
	position:absolute;
}

#map {
	display:inline-block;
	float:left;
}

div.tooltip{
	visibility: hidden;
	position:absolute;
	width:150px;
	height:200px;
	background-color: white;
	border:solid;
}