/*Reset CSS
 *------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
	text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
	font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    font-size: 100%;
    margin:0;
    padding:0;
    color:#444;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}












































/*Custom CSS
------------------------------------------*/

body{
	font-family: Open Sans;
	color: #179fae;
}		

h1{
	font-size: 6em;
	color: #179fae;
}

p{
	font-size: 14px;
	color: #179fae;

}

.heading{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.section{
	background-color: #031d2a;

}

/* Section 0
 * --------------------------------------- */
#section0{

}

#section0 h1{

}

#section0 p{

}

/* Section 1
 * --------------------------------------- */
.content1{

}

#section1{

}
#section1 h1{

}
#section1 p{

}

#infodpt {
	visibility: hidden;
	width:150px;
	height:200px;
	margin-top: 0px;
	margin-left: 5px;
	border:hidden;
	font-weight: bold;	
	display:inline-block;
	position:absolute;
}

#map {
	display:inline-block;
	float:left;
}

div.tooltip{
	visibility: hidden;
	position:absolute;
	width:150px;
	height:200px;
	background-color: white;
	border:solid;
}

p.titre{
	font-weight: bold;	
	font-size:20px;
}

div.jqvmap-label{
	visibility: hidden;
}

div.leftPart{
	width:50%;
	left:0%;
	position:absolute;
	display: inline-block;
}

div.rightPart{
	width:50%;
	right:0%;
	position:absolute;
	display: inline-block;
}

div#pieChart{
	height: 300px;
	width:300px;
	top:50%;
	position: absolute;
	display: inline-block;
}

#financement{
	clear: left;
}

text {
 fill:#3bbd31;
}

svg {
	font-family: "Open Sans";
}

.line {
  fill: none;
  stroke: #179FAE;
  stroke-width: 2px;
}


.header{
	height:10%;
	top:0%;
}

.titre1{
	font-weight: bold;	
	font-size: 30px;
}

.home{
	display: inline-block;
}

.texteheader{
	display: inline-block;
}